.admintools table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.admintools table td, .admintools table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.admintools table tr:nth-child(even){background-color: #f2f2f2;}

.admintools table tr:hover {background-color: #ddd;}

.admintools table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #377bad;
    color: white;
}
.site-div-content{
    margin: 10px;
}
.contact-table{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.contact-table .table-container{
    margin: 5px;
    width: 100%;
}

.table-small td, .table-small td *{
    font-size: small;
}
.order-list-product{
    margin: 5px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}