*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes showMenu {
    from {opacity: 0;}
    to {opacity: 0.95;}
}
span.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    padding: 5px;
}
a:active{
    color: inherit;
}
a:focus{
    color: inherit;
}
button:focus{
    outline: none;
}
.navbar-container{
    animation-duration: 1s;
    width: 20%;
    min-width: max-content;
    height: 100vh;
    background-color: rgba(228, 228, 228, 1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.95;
    padding: 15px;
}
.closeNav{
    animation-name: showMenu;
    animation-direction: reverse;
    display: none;
}
.openNav{
    animation-name: showMenu;
    animation-duration: 1s;
    display: flex;
}
.navbar-cart-container{
    margin: 25px;
}
.navbar-cart-container button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: large;
}
.navbar-logo-container{
    height: 50px;
    width: 50px;
}
.navbar-logo-container img{
    transform: scale(0.8);
    width: 100%;
    height: 100%;
}
.navbar-container ul{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}
.navbar-ul-item{
    margin: 5px;
    margin-left: 10px;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
}
.navbar-ul-item a:hover{
    color: red;
}
.navbar-ul-item a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
}
.expand-navbar{
    z-index: 100;
    transform: scale(0.5);
    position: fixed;
    left: 0;
    top: 0;
    margin: 7.5px;
}
.header-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    background-color: white;
    box-shadow: 10px 0 5px -2px #888;
}
.site-div-content{
    position: relative;
    top: 60px;
}
#cart-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    background-color: white;
    z-index: 100;
    height: 700px;
    max-height: 70%;
    display: none;
    border: 1px solid rgb(216, 216, 216);
    margin: 4px;
}
.cart-content-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.cart-content-container p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    margin-top: 5px;
    font-size: large;
}
.close-cart-btn{
    position: absolute;
    top: 0;
    right: 6px;
    margin: 2px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: larger;
}
#cart-items-empty{
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#cart-items-list{
    margin: 5px;
    max-height: calc(100% - 80px);
    overflow-y: auto;
}
#cart-items-list li{
    list-style: none;
}
.cart-checkout-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #d8d8d8;
    border: 1px solid rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.cart-checkout-btn:hover{
    background-color: #a5a5a5;
}
.cart-calc-price table{
    margin: 5px;
}
.cart-calc-price td, .cart-calc-price th{
    margin: 2px;
    padding: 3px;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart-splitline{
    margin: 0 auto;
    width: 95%;
    height: 1px;
    background-color: #525050;
}
.cart-title{
    margin: 5px;
    color: #9b9b9b;
}
.cart-title svg{
    transform: scale(0.8);
}
.cart-container-list li{
    list-style: none;
}
.priceTag{
    white-space: nowrap;
}


@media only screen and (orientation: portrait) {
    #cart-container{
        width: 70%;
    }
}

/*NAVBAR ICON */
#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span{
    display: block;
    position: absolute;
    height: 7px;
    width: 85%;
    background: #686665;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
top: 18px;
}

#nav-icon span:nth-child(4) {
top: 36px;
}

#nav-icon.open span:nth-child(1) {
top: 18px;
width: 0%;
left: 50%;
}

#nav-icon.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
top: 18px;
width: 0%;
left: 50%;
}